spring:
  application:
    name: auth-service

  datasource:
    url: jdbc:postgresql://auth-service-db:5000/db
    username: admin_user
    password: password
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
