spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: auth-service-route
              uri: http://auth-service:4001
              predicates:
                - Path=/api/v1/auth/**
              filters:
                - StripPrefix=2

            - id: company-service-route
              uri: http://company-service:4002
              predicates:
                - Path=/api/v1/company/**
              filters:
                - StripPrefix=2
                - JwtValidation


eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://eureka-server:8761/eureka
  instance:
    prefer-ip-address: true

server:
  port: 4000